BASE_URL=http://localhost:8080
MONGODB_URI=mongodb://localhost:27017/test

SESSION_SECRET=Your Session Secret goes here

GMAIL_USER=nebraskac4e
GMAIL_PASSWORD=breakfastclub2018

GOOGLE_ID=894885222416-lqna55905fm05as43pu66svhvafscm2k.apps.googleusercontent.com
GOOGLE_SECRET=ijQ9PLibtybqdaTYe_PlcDEo

GOOGLE_MAP_API_KEY=AIzaSyD2DMmJj2u5VqZTrD_HfS2TcWeYRV-XFdE

GOOGLE_GEOCODING_API_KEY=AIzaSyANBCEhT0SGWGjXdJH7yfIn3wsF7zJyRck
